body{
    background-color:rgba(226, 225, 228, 0.863);
    background: url("pexels-cameron-casey-1157255.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

form{

    padding: 25px;
    background-color: #1f1f3f88; /* لون الخلفية */
    border-radius: 12px;
    direction: rtl;

}

#inp_from{
    background-color:#1f1f3fe5;
    color: aliceblue;
    border: #1111d488 solid 1px;
}

#tex_from{
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
}